body {
    background: radial-gradient(circle, #000000, #926D84);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.animated-container {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.password-box {
    font-size: 1.5em;
    color: #ff0000;
    background-color: #000;
    border: 2px solid #ff0000;
}

.myBtn {
    padding: 15px;
    font-size: 1.5em;
    transition: all 0.3s ease;
}

.myBtn:hover {
    background-color: #926D84;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

input[type="number"] {
    text-align: center;
    background-color: #000;
    color: #ff0000;
    border: 2px solid #ff0000;
}
